body {
    background-color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#back-button {
    position: fixed;
    bottom: 10px; /* Position from the bottom of the screen */
    left: 0; /* Position from the left edge of the screen */
    background: none;
    border: none;
    padding: 0;
    z-index: 10; /* Keeps it above other elements */
}

#back-button a img {
    width: 40px; /* Adjusted size for responsiveness */
    height: auto; /* Maintain aspect ratio */
}

.names {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.names div {
    font-size: 1.5rem;
    color: black;
}

canvas {
    width: 100%;
    height: auto;
    max-width: 1000px;
    max-height: 600px;
    border: 2px solid black;
}

@media (min-width: 600px) {
    canvas {
        max-width: 100%;
        max-height: auto;
    }
}

@media (max-width: 600px) {
    canvas {
        max-width: 368px;
        max-height: 600px;
    }
}
